<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project {{ projects_name }} </title>
</head>
<body>
    <div class="project-title">
        <h1>
            <center>
                {{ project_name }}
            </center>
        </h1>
    </div>
    <h2>
        Description
    </h2>
    <p>
        {{ project_details.description }}
    </p>
    <h2>
        Languages
    </h2>
    {% for lang in project_details.languages %}
    <p>
        {{lang}}
    </p>
    {%endfor%}
</body>
</html>